<!DOCTYPE html>
html(lang="en")
    head
        include partials/_header
    body.login
        .contenedor-formulario
            h1 Crea tu cuenta en UpTask

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p=error

            form#formulario.caja.caja-login(method="POST" action="/crear-cuenta")
                .campo
                    label(form="email") E-mail:
                    input(type="email" name="email" placeholder="Tu email" value= email)
                .campo
                    label(form="password") Contraseña:
                    input(type="password" name="password" placeholder="Tu contraseña" value= password)
                .campo.enviar
                    input.boton(type="submit" value="crear cuenta")
                .campo
                    a(href="/iniciar-sesion") Volver a iniciar sesión

    script(src="/dist/bundle.js")