<!DOCTYPE html>
html(lang="en")
    head
        include partials/_header
    body.login
        .contenedor-formulario
            h1 Iniciar sesión en UpTask

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo
                    label(form="email") E-mail:
                    input(type="email" name="email" placeholder="Tu email" value= email)
                .campo
                    label(form="password") Contraseña:
                    input(type="password" name="password" placeholder="Tu contraseña" value= password)
                .campo.enviar
                    input.boton(type="submit" value="Iniciar sesión")
                .campo
                    a(href="/crear-cuenta") ¿Aún no tienes cuenta? Crea una gratis!

    script(src="/dist/bundle.js")